/* reset */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.search-bar {
  margin: 0 auto;
  max-width: 80%;
  overflow: hidden;
}

.search-bar input {
  width: 100%;
}

.search-result {
  margin: 0 auto;
  max-width: 80%;
  overflow: hidden;
}

.album-items {
  float: left;
}

.search-result ul {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 225px;
  list-style: none;
}

.search-result ul li {
  float: left;
  text-align: center;
  padding: 0 50px 0 0;
}

.album-cover {
  background-color: #FAFAFA;
  width: 180px;
  height: 180px;
} 