/* reset */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

$white: #FFFFFF;
$primary-color: #161616;
$primary-text: #FAFAFA;
$secondary-text: #999999;
$highlight-text: #1ED760;

body {
  background-color: #161616;
}

input[type=text] {
  background-color: #161616;
}

ul {
  display: flex;
  padding: 0;
  margin:0;
  list-style: none;
}

a {
  text-decoration: none;
}

.main-text {
  color: $primary-text;
}

.secondary-text {
  color: $secondary-text;
}

.highlight-text {
  color: $highlight-text;
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 906px) {
    @content;
  }
}